@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');



*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 200px repeat(17, 1fr) 100px;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

}
.nav {
    top: 0;
    grid-row: 1 / 1;
    background-color: #ADE498;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;


}
.nav__namn{
    font-family: 'Alfa Slab One', cursive;
    font-size: larger; 
    text-decoration: none;
    justify-self: start;
    color: rgb(92, 88, 29);
}
.nav__upptäck {
    font-family: 'Alfa Slab One', cursive;
    font-size: larger; 
    text-decoration: none;
    color: rgb(92, 88, 29);


}
.omsidan {
    border-radius: 5px;
    background-color: #EDE682;
    grid-row: 2 / 3;
    padding: 5px;

}

.wrapper {
    
    /* background-image: url(./bilder/back_img.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 3 / 20;
    display: grid;
    padding: 20px 30px;
    
    
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  
    gap: 10px;
    min-height: 600px;
}
.wrapper__card{
border-radius: 7px;
background-color: #7FDBDA;
height: 400px;
padding: 10px;
}
.recept1{
    background-image: url(/bilder/recept1.jpg);
}

.wrapper__card__img{
    background-image: url(/bilder/recept1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
    
}
.wrapper__card__tid{

}
.wrapper__card__text{

}



.footer {
    bottom: 0;
    grid-row: 20 / 21;
    background-color: #EDE682;
}