@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content repeat(17, 1fr) min-content;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

}

.topbutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.nav {
    top: 0;
    grid-row: 1 / 1;
    background-color: #ADE498;
    display: grid; 
    justify-content: center;
}
.nav div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 70px;
}
.nav__list {
    list-style: none;
    display: flex;
    gap: 10px;
}

.home {
    background-image: url(./bilder/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 40px;
}

.nav__namn {
    font-family: 'Alfa Slab One', cursive;
    text-decoration: none;
    justify-self: start;
    color: rgb(92, 88, 29);
    font-weight: normal;
    font-size: x-large;
}

.omsidan {
    border-radius: 5px;
    background-color: #EDE682;
    grid-row: 2 / 3;
    padding: 20px 65px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.recept__bild {
    border-radius: 5px;
    background-color: #EDE682;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.ingredienser {
    height: 400px;
    border-radius: 5px;
    background-color: #7FDBDA;
    padding: 20px;

}

.instruktioner {
    height: 400px;
    border-radius: 5px;
    background-color: #7FDBDA;
    padding: 20px;

}

.wrapper {
    grid-row: 3 / 20;
    display: grid;
    padding: 30px 60px;


    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    min-height: 600px;
}

.wrapper__recept {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    padding: 50px 50px;
    gap: 20px;

}

.wrapper__card {
    text-decoration: none;
    color: black;
    border-radius: 7px;
    background-color: #7FDBDA;
    height: 300px;
    padding: 10px;
}

.recept1,
.recept1__bild {
    background-image: url(./bilder/recept1.jpg);
}

.recept2,
.recept2__bild {
    background-image: url(./bilder/recept2.jpg);
}

.recept3,
.recept3__bild {
    background-image: url(./bilder/recept3.jpg);
}

.recept4,
.recept4__bild {
    background-image: url(./bilder/recept4.jpg);
}

.wrapper__card__img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;

}

.wrapper__card__tid {}

.wrapper__card__text {}



.footer {
    bottom: 0;
    grid-row: 20 / 21;
    background-color: #EDE682;
    padding: 20PX;

}