@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content repeat(17, 1fr) min-content;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

}

.topbutton {
    position: fixed;
    bottom: 50px;
    right: 20px;
    display: none;
    height: 40px;
    width: 40px;
    font-size: xxx-large;
    margin: 0;
}
.topbutton:hover{
    cursor: pointer;
}

.nav {
    top: 0;
    grid-row: 1 / 1;
    background-color: #9EB23B;
    display: grid;
    justify-content: center;
}


.nav div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 70px;
}

.nav__list {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
}
.nav__list li h2:hover{
    cursor: pointer;
}

.nav__list a {
    text-decoration: none;
    color: #000;
}

.home {
    background-image: url(./bilder/home.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 40px;
}

.nav__namn {
    font-family: 'Alfa Slab One', cursive;
    text-decoration: none;
    justify-self: start;
    color: rgb(77, 72, 16);
    font-weight: normal;
    font-size: x-large;
}

.nav__namn h1 {
    margin: 0;
}

.omsidan {
    background-color: #C7D36F;
    grid-row: 2 / 3;
    padding: 20px 65px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


.recept__bild {
    border-radius: 5px;
    background-color: #EDE682;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.ingredienser {
    height: fit-content;
    border-radius: 5px;
    background-color: #9EB23B;
    padding: 20px;
}


.ingredienser h2,
.instruktioner h2 {
    margin: 0 0 10px 0;
}


.ingredienser ul li,.instruktioner ol li {
    border: 2px solid #000;
    margin: 5px;
    padding: 15px 5px; 
    font-size: x-large;
}

.ingredienser ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

input:checked~span {
    text-decoration: line-through;
}

.instruktioner ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.instruktioner {
    height: fit-content;
    border-radius: 5px;
    background-color: #9EB23B;
    padding: 20px;
}
.instruktioner ol li label:hover{
    cursor: pointer;
}

.wrapper {
    grid-row: 3 / 20;
    display: grid;
    padding: 30px 60px;
    background-color: #FCF9C6;


    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    min-height: 600px;
}

.wrapper__recept {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    padding: 50px 50px;
    gap: 20px;
}

.wrapper__card {
    text-decoration: none;
    color: black;
    border-radius: 7px;
    background-color: #E0DECA;
    height: 300px;
    padding: 10px;
}

.recept1,
.recept1__bild {
    background-image: url(./bilder/recept1.jpg);
}

.recept2,
.recept2__bild {
    background-image: url(./bilder/recept2.jpg);
}

.recept3,
.recept3__bild {
    background-image: url(./bilder/recept3.jpg);
}

.recept4,
.recept4__bild {
    background-image: url(./bilder/recept4.jpg);
}

.wrapper__card__img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 100%;
}

.wrapper__card__tid {}

.wrapper__card__text {}

.footer {
    bottom: 0;
    grid-row: 20 / 21;
    background-color: #9EB23B;
    padding: 20PX;
    font-size: large;
}

.home span {
    position: absolute;
    left: -99999px;
    color: black;
    font-weight: bold;
    font-size: 40px;
}



.darkmode {
    position: absolute;
    right: 30px;
    top: 20px;
    height: 40px;
    width: fit-content;
    margin: 0;
    background-color: #4e4a04;
    color: #fff;
}
.darkmode:hover{
    cursor: pointer;
}


*.dark-mode {
    color: #fff;
}

.omsidan.dark-mode {
    background-color: #6e7624;
}
.nav.dark-mode {
    /* background-color: #302e1c; */
    background-color: #4e4a04;
}
.wrapper.dark-mode div{
    background-color: #4e4a04;
}

.wrapper.dark-mode {
    background-color: #302e1c;
}
.footer.dark-mode{
    /* background-color: #302e1c; */
    background-color: #4e4a04;

}

.home.dark-mode {
    background-image: url(./bilder/home\ copy.svg);
}

.recept.dark-mode {
    /* background-color: #302e1c; */
    background-color: #4e4a04;
}





@media screen and (max-width: 1120px) {

    .recept__bild {
        order: -1;
    }

}



@keyframes slide-up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.wrapper * {
    animation: slide-up 0.5s ease-out;
}